﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fafafa;
}

header, footer, nav, section {
    display: block;
}
ul, li {
    list-style-type: none;
}
li {
    padding: 10px;
    margin: 10px;
}



/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00 !important;
    background-color: #fee !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

i {
    font-size: 3em;
    color: #3a4145;
}

.temp {
    display: inline-block;
    font-size: 3em;
}

.weather {
    display: inline-block;
    
}

.weather-data {
    display: block;
}

.weather-symbol {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

    .weather-symbol i {
        font-size: 4em;
    }

.weather-block {
    text-align: center;
}