﻿@model weather.ViewModels.WeatherViewModel

<h2>Vädersök</h2>

@using (@Html.BeginForm("Index", "Weather"))
{
    
        

        <div class="row">
            <div class="large-6 columns">
                <div class="row collapse">
                    <div class="small-9 columns">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "Fel inträffade")
                        @Html.TextBoxFor(u => u.SearchName, new { placeholder = "Search eg. kalmar" } )
                        @Html.ValidationMessageFor(u => u.SearchName)
                    </div>
                    <div class="small-3 columns">
                        <input type="submit" value="Search" class="button postfix">
                    </div>
                </div>
            </div>
        </div>
    
}

@if (ViewData.ModelState.IsValid)
{
    

    if (Model != null  && Model.HasCities)
    {
        @Html.Partial("CityList", Model)  
      
    }
    if (Model != null && Model.HasWeather)
    {
        @Html.Partial("WeatherList", Model)
    }

    
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


